<div class="page-header">
  <h1>JavaScript library <small>- API Docs</small></h1>
</div>


<div class="panel panel-primary well">
  <div class="panel-heading well">JavaScript API</div>
  <div class="panel-body">
<button type="button" class="btn btn-info">
	Edit <span class='glyphicon glyphicon-edit'></span>
	</button><br><br>

	<h3>Sample JSON data <small>For test puposes</small></h3>
    <p>{
    "_id": "57a7744c69b8c97213cfe7ad",
    "email": "kerrin.arora@gmail.com",
    "hash": "da588b2e198fb0f2ac8dd3c2b33116a98c47333b8ac045faa21424e796742c48dc02cde0522575c38439733014117992f6daf7adc961e35a627331efa472f075",
    "salt": "7e5c6cac51bb20105ab22286dc5460d2",
    "username": "kerrin631",
    "__v": 0
  },</p>
  <p>{
    "_id": "57a78242ea0dd06d14fa3ee6",
    "email": "arora@gmail.com",
    "hash": "e4445e68505071bdd23d47268b18f9ca1570a60b1fa64587ff11c0e069e57b1bb253cbbd5405a46a7bc7931233c0957b2bec4629a82b0f629539209db663f867",
    "salt": "4d1d2422c31d9f4033c1da97febe3299",
    "username": "arora",
    "__v": 0
  }</p>
  </div>
</div>